;config file for user ibe tools

;file that holds public params
params = params_public.txt

;default port
default_port = 5142

;pkg servers
servers = 127.0.0.1

;file holding private key
keyfile = keyfile
